[submodule "bgfx.cmake"]
	path = bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git

[submodule "glfw"]
	path = vendor/glfw
    url = https://github.com/glfw/glfw.git
[submodule "assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
